* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
}

.container {
    width: 100%;       
    max-width: 500px;
    height: 500px;
}

table {
    width: 100%;       
    margin-top: 20px;
    border-collapse: collapse; 
}

th, td {
    border: 1px solid black;
    padding: 8px;      
    text-align: left;
}