.container{
    width:400px;
    display: flex;
    flex-direction: column;
    border:1px solid black;
    align-items: center;
    box-shadow: 0 4px 15px rgba(51, 20, 20, 0.3);

}
.img{
    width:50%;
    transition: 0.3s ease;

   

}


.img:hover {
    transform: translateY(-10px);
}
body {
display: flex;
    justify-content: center; /* Horizontal center */
    align-items: center; 
    margin-top:50px;
}
.title{
    font-size:24px;
    color:rgb(14, 14, 125);
    
}
#btn{
    padding:10px 10px;
    margin-bottom: 10px;
    border:none;
    background-color: rgb(77, 77, 231);
    color:white;
    border-radius:2px;
    cursor:pointer;
    font-size:bold;
}