body{
    margin:0;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:#f9c613;
}

.container{
    text-align:center;
    padding:30px;
    border-radius:10px;
}

img{
    width:180px;
}

button{
    margin-top:20px;
    padding:10px 20px;
    cursor:pointer;
    
}