#btn{
    padding:10px;
    width:100px;
    background-color:blue;
    color:white;
    border:none;
    cursor:pointer;
    transition:ease .3s;
    border-radius:5px;


}
#btn:hover{
    background-color:orange;
}
